.App {
  text-align: center;
 
  padding: 10px;
  
 }
 
 /*
 .Menu>li{
   color: aqua;
 
 }
 
 
 .Menu {
 display: flex;
 height: 35px;
 background-color: aqua;
 }
 
 
 .images >img, iframe{
   width: 350px;
   height: 380px;
   margin: 20px;
 }
 
 .images>h2,p{
   color:blue;
 }
 .images{
   background-color: black;
 }*/
 
 .users{
   text-align: center;
   background-color: 1px solid black;
   width: 320px;
   height: 500px;
   padding-top: 0px;
   margin-left: 250px;
   margin-top: 0px;
 
 }
 
 .Ajouter{
   text-align: center;
   background-color: aqua;
   width: 200px;
   height: 1700px;
 }
